<% provide(:title, "このサイトについて") %>

<h4><%= yield(:title) %></h4>

<h6>ポートフォリオとして作成したサイトになります</h6>
<p>実際にはサービスを提供していませんのでご了承ください</p>
<h6>想定</h6>
<li>閑散期に余っている人材を別の会社の繁忙期で有効利用できないか、というのがこのサービスです</li>
<li>私自身が製造業を経験しその中で他社の仕事を受ける受託業務に関わることがありました。</li>
<li>実体験として中堅くらいの現場作業者は別の会社の案件でもこなせるということがわかりました。</li>
<li>受託元で作業ルールの指導や品質管理のための確認をしっかり行えば日本の企業であれば十分に可能です。</li>
<li>また機密の取り扱いに関しても日本企業は信頼できると感じています。</li>
<li>1度できた協力した実績は次につながります。</li>
<li>相互で人材が行き交うことで作業者のレベルアップも望めます。</li>
