<div id="follow_form" class="row">
  <% if current_user.following?(user) %>
    <div class="col-12"><%= render 'unfollow', user: user %></div>
  <% else %>
    <div class="col-12"><%= render 'follow', user: user %></div>
  <% end %>
</div>