<div id="follow_form">
  <% if current_user.following?(user) %>
    <div class="l_follow"><%= render 'unfollow', user: user %></div>
  <% else %>
    <div class="l_follow"><%= render 'follow', user: user %></div>
  <% end %>
</div>