<% @page_title = "ユーザー登録" %>
<h4><%= @page_title %></h4>

<%= form_for @user do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit "ユーザー登録", class: 'btn btn-success'%></div>
<% end %>

