<footer>
  <small class="text-muted">
    <div class="row justify-content-center">
      <ul>
        <%= link_to "利用規約", :term %>
      </ul>
      <ul>
        <%= link_to "このサイトについて", :about %>
      </ul>
    </div>
    <div class="row justify-content-center">
      © 2020-2021 manu-Match
    </div>
  </small>
</footer>