<% provide(:title, "マイアカウント") %>

<div class="row align-items-center justify-content-center outer-box">
  <div class="col-md-5">
    <h4 class="title"><%= "#{ @user.name }さんのページ" %></h4>
  </div>
  <div class="col-md-5 mb-2">
  </div>
</div>
<%= render "users/user_body", user: @user %>
<%= render "shared/articles_index", articles: @articles, pagy: @pagy %>
